/* body {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
} */

/* Inicio del menú nav */
nav {
    display: flex;
    /* position: relative; */
    padding: 12px;
    background-color: #333;
    color: #000;
  }

nav a {
 

    width: 100px;
    border: 1px solid #fff;
    border-radius: 18px;
    outline: 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Verdana;
    color: #fff;
    background-color: #333;
    transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

nav a:not(:last-child) {
    margin-right: 12px;
}

nav a:hover,
nav a:focus {
    color: #333;
    background-color: #fff;
}
/* 
.large-padding{
    padding: 2px;
}
  
.black{
    background-color: #222;
}
  
.white-text{
    color: #fff;
}
nav{
    text-align:right;
}
nav li{
    display: inline-block;
    margin-right: 1em;
    font-size: 1.2em;
}
  
nav li a{
    color: inherit;
}

nav li a:hover{
    background-color: #fff;
    color: #222;
} */

  /* fin nav */


a{
    text-decoration: none;
    color: #0B3142;
}

.container{
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    max-width: 960px;
    width: 100%;
    height: 60vh;
    padding: 1em;
    background-color: honeydew;
    box-shadow: 0 3px 6px rgba(0,0,0,0,16), 0 3px 6px rgba(0,0,0,0,23);
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-y: scroll;

}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #024959;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0,16), 0 3px 6px rgba(0,0,0,0,23);
    font-weight: 300;
    cursor: pointer;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.position{
    background-color: #0B3142;
    color: #fff;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
}


.table {
	width: 100%;
    border-spacing: 0;
    font-size: 1.3em;

}

.table th, .table td {
    padding: 12px;
	border: 0px solid green;
	border-collapse: collapse;
}

.table tr:nth-child(even){
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    color: #fff;
}

td{
    display: block;
    width: 100%;
}
td:nth-of-type(1){
    /* color: #0B3142; */
    font-size: 1.5em;
    font-weight: bold;
}
th{
    display: none;
    background-image: linear-gradient(to top, #4add9d 0%, #3cba92 100%);
}


.title, .title-item{
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0;
	color: #024959;
    font-weight: unset;

}

.title-item{
    padding-bottom: 1em;
    text-align: left;

}

h3{
    margin: 0;
    
}

.title-item{
    border-bottom: #0B3142 solid 2px;
    /* padding-bottom: 1em; */
    /* font-size: 2em; */
}


.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}

.description{
    display: inline-block;
}

/* 
estilos para centrar textos
*/
.center {
	text-align: center;
}

/* 
estilos de la paginación
*/
.paginacion {
	margin: 20px 0;
}

.paginacion ul {
	list-style: none;
	/* text-align: center; */
}

.paginacion ul li {
	display: inline-block;
	margin-right: 10px;
}

.paginacion ul li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	background: #024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background: #037e8c;
}

.paginacion ul li .active {
	background: #037e8c;
	font-weight: bold;
}

.footer {
	display: flex;
	/* margin: 30px 0; */
	width: 100%;
}

.Copyright {

    width: 40%;
	
}
.Copyright p {
    margin-top: 30px;
    margin-left: 20px;
	padding: 10px;
}

.footer .fa-instagram{
    color: rgb(206, 6, 129);
}
.footer .fa-whatsapp{
    color: rgb(0, 184, 46);
}

.localidad{
    width: 60%;
    display: flex;
    background-color: springgreen;
}

.localidad address {
	/* padding: 10px; */
	/* background-color: slategray; */
	margin-bottom: 10px;
	padding: 50px;
}

.localidad iframe {
    float: right;
}


@media (min-width: 920px) {
	th{
       display: table-cell;
    }
    td{
        width: auto;
       display: table-cell; 
    }
    td:nth-of-type(1){
        font-size: 1em;
    }
    
    .content{
        padding: 1.8em;
        /* overflow: hidden; */
    }


}

@media (max-width: 760px) {
    body{
        font-size: 20px;
    }



    img{
        width: 90%;
        padding-bottom: 1rem;
    }
    
    .footer{
        display: block;
        
    }
    .Copyright {
        float: none;

        width: 100%;
        position: relative;
        text-align: center;
    }

    .localidad{
        float: left;
        /* float: none; */

        width: 100%;
    }
    .localidad iframe {
		display: inline-block;
    }

}
@media (min-height: 550px) {
	.content {
		height: 500px;
    }
    /* .localidad iframe{

    } */
}
