/* .body {
  margin: 0;
  padding: 0;
} */
/* Nav */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEDBD0;
  padding: 30px;
}
.header {
  display: flex;
  flex-direction: column;
}
.header .title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #442C2E;
}
.header .title .sub-title {
  font-weight: 700;
  color: #442C2E;
}
.header .slogan {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
}
.router-links {
  display: flex;
  justify-content: space-between;
}
.router-links .link {
  margin: 0 4px;
  text-decoration: none;
  color: #442C2E;
  border: 1px solid #442C2E;
  border-radius: 4px;
  padding: 8px;
}

/* cards */
.container{
  width: 100vw;
}

.card {
  border: 1px solid #442C2E;
  border-radius: 4px;
  width: 70%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  height: 200px;
  overflow: auto;
}
.card-body {
  padding-left: 20px;
}
.card-body p{

}
.card-body .title {
  font-size: 26px;
  margin: 5px 0;
  /* width: 100%; */
  border-bottom: 1px solid #232f34;
}
.card-body .right {
  text-align: right;
}
.card-body .right .fa-star {
  color: #FEEAE6;
}
.card-body .right .active {
  color: #442C2E;
}

.card-img{
  width: 20%;
  height: 150px;
}